---
title: projets
---
{% assign projects = site.projects | reverse %}
{% for project in projects %}
<div class="project">
    <div class="description">
        <h2>{{ project.name }}</h2>
        <span>{{ project.date | date: "%d/%m/%Y" }}</span>
        {{ project.content | markdownify }}
    </div>
    <div class="tags">
        {% for tag in project.tags %}
        <span class="tag">{{ tag }}</span>
        {% endfor %}
    </div>
    <div class="thumbnails">
        {% for thumbnail in project.thumbnails %}
        <div class="thumbnail">
            <img src="{{ "assets/projects/" | append: thumbnail | relative_url }}" alt="miniature du projet '{{
            project.name }}'">
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}