.slack-news h4 {
  display: inline;
}

.slack-news time {
  padding-left: 5px;
	font-size: 12px;
	color: #bbb;
}

.slack-news p {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
