.slack-news {
  padding: 10px 10px -10px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.slack-news h4 {
  display: inline;
}

.slack-news time {
  padding-left: 5px;
	font-size: 12px;
	color: #bbb;
}

.slack-news p {
  margin-bottom: 10px;
}
