// https://getbootstrap.com/docs/4.6/layout/overview/
$s-min-width: 576px;
$m-min-width: 768px;
$l-min-width: 992px;
$xl-min-width: 1200px;

$xs-max-width: $s-min-width - 1px;
$s-max-width: $m-min-width - 1px;
$m-max-width: $l-min-width - 1px;
$l-max-width: $xl-min-width - 1px;

// https://medium.com/codeartisan/breakpoints-and-media-queries-in-scss-46e8f551e2f2
@mixin xs {
   @media (max-width: #{$xs-max-width}) {
       @content;
   }
}

@mixin s {
   @media (min-width: #{$s-min-width}) and (max-width: #{$s-max-width}) {
       @content;
   }
}

@mixin xs-s {
   @media (max-width: #{$s-max-width}) {
       @content;
   }
}

@mixin m {
   @media (min-width: #{$m-min-width}) and (max-width: #{$m-max-width}) {
       @content;
   }
}

@mixin l {
   @media (min-width: #{$l-min-width}) and (max-width: #{$l-max-width}) {
       @content;
   }
}

@mixin xl {
    @media (min-width: #{$xl-min-width}) {
       @content;
    }
}

body {
    margin: 0;
    padding-top: 50px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5em;
    color: #393939;
    background-color: white;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding-top: 0;
    padding-bottom: .45em;
    color: #3c4146;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 1.2;
    margin: 0.67em 0;
}

h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}

.container {
    --container-padding: 15px;

    box-sizing: border-box;
    width: 100%;
    padding-left: calc(50% - var(--container-width) / 2);
    padding-right: calc(50% - var(--container-width) / 2);

    @include xs {
        --container-width: calc(100% - var(--container-padding) * 2);
    }

    @include s {
        --container-width: 540px;
    }

    @include m {
        --container-width: 730px;
    }

    @include l {
        --container-width: 960px;
    }

    @include xl {
        --container-width: 1140px;
    }
}

nav {
    z-index: 20;
    background-color: black;

    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;

    font-size: 16px;
    line-height: 1.5em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    .logo {
        display: flex;
        align-items: center;
        gap: 5px;
        height: 50px;
        img {
            width: auto;
            height: 100%;
        }
    }

    a {
        color: #9d9d9d;
        text-decoration: none;
    }

    a:hover {
        color: #fff;
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        gap: 15px;
    }
}

main {
    z-index: 1;
    position: relative;
    width: 100%;
    min-height: calc(100vh - 120px);
    background: inherit;
    margin-bottom: 70px;
    box-shadow: 0 7px 10px -7px rgba(0, 0, 0, 0.41);
    display: table;
}

p {
    text-align: justify;
    margin: 0 0 10px;
}

footer {
    z-index: 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    line-height: 70px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    background-image: url("../bg.png");

    .fa-heart {
        color: #f44336;
    }
}

.project {
    --project-vertical-spacing: 1rem;
    margin-bottom: var(--project-vertical-spacing);
    padding-bottom: var(--project-vertical-spacing);
    border-bottom: 2px dotted #497DBA;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "description thumbnails"
                         "tags thumbnails";
    gap: 1rem;

    @include xs-s {
        grid-template-columns: 1fr;
        grid-template-rows: none;
        grid-template-areas: "description"
                             "thumbnails"
                             "tags";
    }

    &:first-child {
        margin-top: var(--project-vertical-spacing);
    }

    .description {
        grid-area: description;

        h2 {
            display: inline-block;
        }
    }

    .tags {
        grid-area: tags;
    }

    .tag {
        display: inline-block;
        margin-top: 1px;
        padding: 3px;
        color: #FFF;
        background-color: #0F243E;
    }

    .thumbnails {
        grid-area: thumbnails;
        display: flex;
        gap: 1rem;

        .thumbnail {
            flex: 1;

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}